{% extends "layouts.html" %}

{% block experience %}

<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Software Engineer</h3>
                <div class="subheading mb-3">Stibo Dx Ltd.</div>
                <ul class="list-group">
                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        Develop SDK for some of the worls leading Newspapers and Media houses for their e-paper
                        solution.
                    </li>

                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        Performing peer code reviews for immediate and related teams.
                    </li>

                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        Analyze, develop and maintain feature and stability of a demo android application & SDK.
                    </li>

                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        Write Documentation.
                    </li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2021 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Software Engineer II</h3>
                <div class="subheading mb-3">Kona Software Lab Ltd.</div>
                <ul class="list-group">
                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        Analyze, develop and maintain features and stability of a number of payment solution mobile
                        apps for both android and iOS versions.
                    </li>

                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        Sprint planning with team members regarding upcoming projects and deadlines.
                    </li>

                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        Performing peer code reviews for immediate and related teams
                    </li>

                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        Worked shortly for the initial release of Mercantile Bank Ltd's mobile app.
                    </li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2020 - 2021</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Senior Software Engineer</h3>
                <div class="subheading mb-3">Silicon Orchard Ltd.</div>
                <ul class="list-group">
                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        Talked to client directly and set deadlines regarding projects and improvements.
                    </li>

                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        Weekly scrum with teammates to plan workload.
                    </li>

                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        Maintained long and short-range deliverables with the product management team.
                    </li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2017 - 2020</span></div>
        </div>

    </div>
</section>

{% endblock %}

