<!--{% extends "layouts.html" %}



{% block content %}-->
<section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                {{about.0.first_name}}
                <span class="text-primary">{{about.0.last_name}}</span>
            </h1>
            <div class="subheading mb-5">
                {{about.0.phone}} |
                <a href="mailto:alik.rafi7@gmail.com">{{about.0.email}}</a>
            </div>
            <p class="lead mb-5">{{about.0.description}}</p>
            <div class="social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/k-h-rafiquel-islam/"><i
                        class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/alik7-cmd"><i class="fab fa-github"></i></a>
                <a class="social-icon" href="https://www.facebook.com/alik.rafi1/"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </section>

<!--{% endblock %}-->


